In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/NGS-81M0011-E-2018_F1.csv')
df

,PUMFID,VR2_080,PGM_034,PGM_P036,PGM_100,PGM_280A,PGM_280B,PGM_280C,PGM_280D,PGM_280E,...,FATHEDP,FATEDGRD,FATEDINT,MOTHEDP,MOTEDGRD,MOTEDINT,DDIS_FL,DTYPERP,DCLASSP,WTPF
0,28111,2,1,6,2,1,2,2,2,2,...,6,3,3,6,3,3,1,1,1,10.0873
1,28113,2,1,6,2,2,2,2,2,2,...,2,1,1,2,1,1,2,6,0,32.2057
2,28114,2,1,6,2,2,2,2,2,2,...,6,3,3,6,3,3,2,6,0,11.0231
3,28116,1,1,6,2,2,2,2,2,2,...,4,1,1,5,1,1,2,6,0,16.1977
4,28117,1,2,3,1,2,1,2,2,2,...,4,2,2,4,2,2,2,6,0,10.6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19559,63858,1,1,6,1,2,2,2,2,2,...,6,3,3,6,3,3,2,6,0,10.1859
19560,63864,1,1,6,2,1,2,1,1,1,...,5,2,2,5,2,2,2,6,0,54.3093
19561,63865,2,1,6,1,2,2,2,2,2,...,3,1,1,4,2,2,2,6,0,10.1115
19562,63866,1,1,6,2,2,2,2,2,2,...,1,1,1,5,3,3,2,6,0,19.8748
19563,63868,1,1,6,2,2,2,2,2,2,...,2,1,1,5,1,1,2,6,0,14.4764

In [3]:
missing_incomes = df[df['PERSINCP'] == 99]
missing_incomes = missing_incomes[missing_incomes['JOBINCP'] != 99]
missing_incomes = missing_incomes[missing_incomes['JOBINCP'] != 96]

missing_incomes['PERSINCP'] = missing_incomes['JOBINCP']

In [4]:
missing_incomes

,PUMFID,VR2_080,PGM_034,PGM_P036,PGM_100,PGM_280A,PGM_280B,PGM_280C,PGM_280D,PGM_280E,...,FATHEDP,FATEDGRD,FATEDINT,MOTHEDP,MOTEDGRD,MOTEDINT,DDIS_FL,DTYPERP,DCLASSP,WTPF
18,28144,2,1,6,2,2,2,2,2,2,...,2,1,1,2,1,1,2,6,0,11.2514
63,28219,2,1,6,1,2,2,2,2,2,...,2,1,1,3,1,1,1,1,1,71.1378
85,28266,2,1,6,2,2,2,2,2,2,...,3,1,1,2,1,1,2,6,0,12.1596
88,28275,2,1,6,2,2,2,2,2,2,...,2,1,1,2,1,1,2,6,0,63.2254
99,28301,2,1,6,2,2,2,2,2,2,...,6,1,1,5,1,1,1,1,1,10.5160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19529,63795,1,2,1,2,2,2,2,2,2,...,2,1,1,2,1,1,1,1,1,27.4610
19530,63796,2,1,6,2,2,2,2,2,2,...,5,1,1,2,1,1,2,6,0,10.0541
19540,63820,2,1,6,1,2,2,2,2,2,...,2,1,1,2,1,1,1,1,1,10.0456
19552,63837,2,1,6,1,2,1,2,2,2,...,4,1,1,5,2,2,1,1,2,63.2254
19555,63844,1,1,6,1,2,2,2,2,2,...,99,9,9,99,9,9,2,6,0,13.7152

In [5]:
filter_df = df[df['PERSINCP'] != 99]
filter_df

,PUMFID,VR2_080,PGM_034,PGM_P036,PGM_100,PGM_280A,PGM_280B,PGM_280C,PGM_280D,PGM_280E,...,FATHEDP,FATEDGRD,FATEDINT,MOTHEDP,MOTEDGRD,MOTEDINT,DDIS_FL,DTYPERP,DCLASSP,WTPF
0,28111,2,1,6,2,1,2,2,2,2,...,6,3,3,6,3,3,1,1,1,10.0873
1,28113,2,1,6,2,2,2,2,2,2,...,2,1,1,2,1,1,2,6,0,32.2057
2,28114,2,1,6,2,2,2,2,2,2,...,6,3,3,6,3,3,2,6,0,11.0231
3,28116,1,1,6,2,2,2,2,2,2,...,4,1,1,5,1,1,2,6,0,16.1977
4,28117,1,2,3,1,2,1,2,2,2,...,4,2,2,4,2,2,2,6,0,10.6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19559,63858,1,1,6,1,2,2,2,2,2,...,6,3,3,6,3,3,2,6,0,10.1859
19560,63864,1,1,6,2,1,2,1,1,1,...,5,2,2,5,2,2,2,6,0,54.3093
19561,63865,2,1,6,1,2,2,2,2,2,...,3,1,1,4,2,2,2,6,0,10.1115
19562,63866,1,1,6,2,2,2,2,2,2,...,1,1,1,5,3,3,2,6,0,19.8748
19563,63868,1,1,6,2,2,2,2,2,2,...,2,1,1,5,1,1,2,6,0,14.4764

In [6]:
updated_df = pd.concat([filter_df,missing_incomes],axis=0)
updated_df['PERSINCP'].value_counts()

PERSINCP
5     2727
4     2722
6     2213
3     2177
10    1803
7     1778
2     1669
1     1351
8     1297
9      868
Name: count, dtype: int64

In [7]:
final_df = updated_df[['PUMFID', 'PGM_100', 'PGM_290', 'PGM_350', 'PGM_380',
       'PGM_P400', 'PGM_P405', 'EDU_010', 'EDU_020',
       'REG_INST', 'CERTLEVP', 'PGMCIPAP', 'COOP', 'HLOSGRDP', 'SCHOLAR',
       'DBTALGRD', 'PERSINCP', 'FATEDGRD', 'MOTEDGRD']]

final_df

,PUMFID,PGM_100,PGM_290,PGM_350,PGM_380,PGM_P400,PGM_P405,EDU_010,EDU_020,REG_INST,CERTLEVP,PGMCIPAP,COOP,HLOSGRDP,SCHOLAR,DBTALGRD,PERSINCP,FATEDGRD,MOTEDGRD
0,28111,2,1,2,2,1,1,1,2,1,2,5,2,2,1,2,5,3,3
1,28113,2,1,2,2,1,2,1,1,4,1,5,2,1,1,2,5,1,1
2,28114,2,2,1,2,2,3,2,6,4,2,4,2,2,6,9,1,3,3
3,28116,2,2,2,2,1,2,1,1,2,3,4,2,3,6,2,3,1,1
4,28117,1,2,2,2,1,1,2,6,4,1,8,2,1,6,6,7,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19529,63795,2,1,2,2,3,2,2,6,4,1,1,2,3,6,6,10,1,1
19530,63796,2,1,1,2,1,1,2,6,4,3,6,2,3,4,6,8,1,1
19540,63820,1,1,2,2,1,4,2,6,1,1,9,2,1,6,2,2,1,1
19552,63837,1,1,2,1,2,2,2,6,3,2,5,1,2,1,1,6,1,2
19555,63844,1,1,1,2,1,1,2,6,4,1,8,2,1,1,3,6,9,9

In [18]:
final_df.to_csv('../data/processed/processed_v1.csv', index=False)